*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(
      rgba(255, 255, 255, 075),
      rgba(255, 255, 255, 0.5)
    ),
    url("./assets/images/paper-bg.avif");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
